.eliminar{
cursor:pointer;
color:#0000EE;
font-weight:bold;
text-align:center;
}

#filarecetas{
background-color:#66FF66;
 text-align:center;
}

#tynieditor{
width: 400px;
height: 200px;
 }
 
#lista_ing{
font-family:Verdana;
font-size:8pt;
}

#lista_ing,.cfilas
{
border-collapse:collapse;
}

#titulorec
{font-weight: bold;
font-family:Verdana;
font-size:10pt;
}

#lista
{font-family:Verdana;
font-size:8pt;
background-color: #EEEEFF;
}

tr, td ,th{
border: 1px solid #CCCCCC;
padding: 6px 6px;
	
}

.ordenando
{text-align:center;
}