#titmotp{
font-size:24px;
font-family:verdana;
}
#selectmotp{

}
#izqmotp{
border-style:solid;
border-color:#98bf21;
width:450px;
padding-left:20px;
font-family:verdana;
}
#amot{

border-color:#98bf21;
width:200px;
}

#bmot{

border-color:#98bf21;
width:200px;
position: relative;
left:225px;
top:-50px;

}
#dermotp{
border-style:solid;
border-color:#98bf21;
width:450px;
position: relative;
left:500px;
top:-112px;
padding-left:20px;
font-family:verdana;

}
#aprod{

border-color:#98bf21;
width:200px;
}
#bprod{

border-color:#98bf21;
width:200px;
position: relative;
left:225px;
top:-50px;
}
#registro_mp
{border-style:solid;
border-color:#98bf21;
width:975px;
padding:10px;
}